@import '../common/constants';
@import '../common/mixins';

.contact-form {
  width: 70vw;
  height: 100%;
  margin: 5rem 7.5vw;
  display: grid;
  grid: 1fr 2.5fr 1fr / repeat(3, 1fr);
  grid-gap: 3.125rem;
  grid-template-areas:
          "head name mail"
          "head mesg null"
          "head send null";

  @media screen and (max-width: 900px) {
    grid: 1fr 1fr 5fr / 1fr 1fr;
    grid-template-areas:
            "head head"
            "name mail"
            "mesg send";
  }

  @media screen and (max-width: 650px) {
    grid-gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 3rem 10vw;
  }

  h1 {
    grid-area: head;
    @include heading;
    margin-top: 0;

    @media screen and (max-width: 650px) {
      font-size: 7.5vw;
      width: 75vw;
      margin: 0 auto;
    }
  }

  > div {
    label {
      @include label;
      display: block;
    }

    input, textarea {
      border-style: none;
      border-bottom: 0.125rem solid $field-underline;
      margin: 1rem 0 0 0;
      width: 17.5rem;

      @media screen and (max-width: 650px) {
        margin: 0;
      }
    }

    input {
      margin-bottom: 1rem;
    }

    textarea {
      resize: none;
    }
  }

  .name-field {
    grid-area: name;
  }

  .email-field {
    grid-area: mail;
  }

  .message-box {
    grid-area: mesg;
  }

  button {
    grid-area: send;
    background: $highlight-color;
    @include label;
    color: $contrast-color;
    width: 8.75rem;
    height: 3.125rem;
    border: none;

    @media screen and (max-width: 900px) {
      align-self: end;
    }

    @media screen and (max-width: 650px) {
      align-self: flex-start;
    }
  }
}