@import '../common/constants';
@import '../common/mixins';

.footer {
  background: $primary-color;
  color: $contrast-color;
  width: 98vw;
  height: 21.25rem;
  margin: 0 auto;
  padding: 6.25rem 0;
  box-sizing: border-box;

  @media screen and (max-width: 650px) {
    padding: 1rem 0;
    height: 23.5rem;
  }

  a {
    color: $contrast-color;
    margin: 0 0.825rem;
  }

  nav {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid $shade-color;
    margin: 1rem auto;
    text-transform: uppercase;

    @media screen and (max-width: 650px) {
      align-items: flex-start;
    }

    > svg {
      height: 1.75rem;
      width: 6.25rem;
      padding: 1.5rem 0;
      fill: $contrast-color;

      @media screen and (max-width: 925px) {
        display: none;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 9.375rem;
      margin-right: auto;

      li {
        display: inline;
        @include heading(1.125rem);
        margin: 0 0.825rem;
        cursor: pointer;

        &:hover {
          color: $highlight-color;
          transition: color .3s $ease-in-out-quad;
        }

        @media screen and (max-width: 650px) {
          display: block;
          margin: 0.825rem 0;
        }
      }

      @media screen and (max-width: 925px) {
        margin-left: 0;
      }

      @media screen and (max-width: 650px) {
        margin-top: 0;
      }
    }

    a {
      text-decoration: none;

      &:last-of-type {
        margin-right: 0;
      }

      @media screen and (max-width: 650px) {
        display: block;
        margin: 0.825rem 0;
      }
    }
  }

  .legal {
    @include text(0.8125rem);
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 1rem auto;
    padding-left: 15.5rem;
    box-sizing: border-box;

    > div {
      display: inline;

      &:last-of-type {
        p {
          &:last-of-type {
            display: block;
            text-align: end;
          }

          @media screen and (max-width: 1100px) {
            display: block;
            text-align: end;
          }
        }
      }

      @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 925px) {
      padding-left: 0;
    }

    a {
      color: $light-shade;

      &:hover {
        color: $contrast-color;
      }

      @media screen and (max-width: 650px) {
        margin: 0;
      }
    }

    p {
      color: $light-shade;
      display: inline;
      margin: 0 0 0 1.65rem;
    }
  }
}