@import '../common/constants';
@import '../common/mixins';

.jumbotron {
  background-image: url("https://picsum.photos/1400/940?image=1061");
  width: 98vw;
  height: 58.75rem;
  margin: 1vw;

  nav {
    position: fixed;
    z-index: 100;
    left: 7.5vw;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid $primary-color;
    margin: 1rem auto;
    text-transform: uppercase;
    transition: all .5s $ease-in-out-quad;

    svg {
      height: 1.75rem;
      width: 6.25rem;
      padding: 1.5rem 0;
      transition: all .5s $ease-in-out-quad;
    }

    button {
      background: none;
      border: none;
      align-self: flex-end;
      padding: 0;
      color: $primary-color;
      height: 4rem;
      transition: all .5s $ease-in-out-quad;

      %menu-bar {
        width: 1.25rem;
        height: 0.125rem;
        background-color: $primary-color;
        position: relative;
        right: -3.5rem;
        content: "";
        display: block;
        transition: all .5s $ease-in-out-quad;
      }

      h3 {
        margin: 0;
        font-family: $heading-font;
        padding-right: 2.875rem;
        font-size: 1.125rem;

        &::before {
          @extend %menu-bar;
          top: 0.5rem;
        }

        &::after {
          @extend %menu-bar;
          top: -0.80rem;
        }
      }
    }

    &.compact {
      width: 98vw;
      margin-top: 0;
      top: 0;
      left: 1vw;
      background: rgba(255, 255, 255, 0.7);
      border-bottom: 0;
      transition: all .5s $ease-in-out-quad;

      svg {
        height: (1.75rem / 1.5);
        width: (6.25rem / 1.5);
        margin-left: 4rem;
        transition: all .5s $ease-in-out-quad;
      }

      button {
        margin-right: 4rem;
        transition: all .5s $ease-in-out-quad;
      }
    }
  }

  ul {
    opacity: 0;
    margin-top: 0;
    margin-left: 66vw;
    padding-top: 6rem;
    padding-left: 0;
    color: $contrast-color;
    @include heading(5rem);
    list-style: none;
    text-align: right;
    width: 25vw;
  }

  &.open {
    background: $primary-color;
    transition: background .2s $ease-in-out-quad;

    nav {
      border: none;

      svg {
        fill: $contrast-color;
      }

      button {
        %menu-bar {
          background-color: $contrast-color;
        }

        h3 {
          visibility: hidden;

          &::before {
            visibility: visible;
            transform: rotate(-45deg) translateX(-0.275rem);
          }

          &::after {
            visibility: visible;
            transform: rotate(45deg) translateX(-0.275rem);
          }
        }
      }
    }

    ul {
      transition: opacity 1s $ease-in-out-quad;
      opacity: 1;

      &:hover {
        color: $shade-color;
      }

      li {
        cursor: pointer;
        @include arrow-on-hover;

        &:hover {
          color: $contrast-color;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 1rem;
        right: 0;
        height: 100vh;
        width: 25vw;
        padding: 5.675rem;
        background: ig-easing-gradient(
                        radial,
                        farthest-corner,
                        rgba(14,14,14,1) 0%,
                        ease-in-out-quad,
                        rgba(14,14,14,0) 50%,
                        ease-in-out-quad,
                        rgba(14,14,14,1) 100%
        ) fixed;
      }

      &:hover::after {
        pointer-events: none;
      }

      .line {
        position: absolute;
        z-index: 1;
        opacity: 0.5;
        left: 7.5vw;
        height: 0.0625rem;
        width: 85vw;
        margin: -0.5rem auto 0 auto;
        background: $line-color;

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}