@import '../common/constants';
@import '../common/mixins';

.main-content {
  width: 85vw;
  margin: 3.5rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.5vw;

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 0;
  }

  div {
    grid-column: span 6;
    display: inline-block;
    width: 40vw;
    margin: 1rem;

    @media screen and (max-width: 700px) {
      width: 80vw;
    }

    img {
      background-image: url('https://picsum.photos/1400/940/?random');
      width: 40vw;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
        transition: transform .5s $ease-in-out-quad;
      }

      @media screen and (max-width: 700px) {
        width: 80vw;
      }
    }

    h3 {
      @include label;
      color: $light-label-color;
    }

    h1 {
      @include heading(1.875rem, $capitalize: false);
      color: $title-color;
    }

    button {
      @include label(0.875rem);
      border: none;
      background: none;
      color: $highlight-color;
      padding-left: 1rem;
      cursor: pointer;

      &:hover {
        padding-left: 2rem;
        transition: all .3s $ease-in-out-quad;

        &::before {
          left: -2rem;
          transition: all .3s $ease-in-out-quad;
        }
      }

      &::before {
        @include right-arrow(0.625rem, $highlight-color);
        top: -0.3rem;
        left: -1rem;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }
}