@import url('https://fonts.googleapis.com/css?family=Teko:400,500');
@import url('https://fonts.googleapis.com/css?family=Karla');

// FONTS
$heading-font: 'Teko', sans-serif;
$text-font: 'Karla', sans-serif;

// COLORS
$primary-color: #0e0e0e;
$contrast-color: white;
$shade-color: #3e3e3e;
$line-color: #a3a3a3;
$light-background: #f3f6f6;
$field-underline: #dddddd;
$highlight-color: #1a18f7;
$light-shade: #808080;
$light-label-color: #939393;
$title-color: #272727;
$error-red: #ff2929;
$success-green: #009000;

// TRANSITIONS
$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);