@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Karla');

// FONTS
$label-font: 'Teko', sans-serif;
$text-font: 'Karla', sans-serif;

// COLORS
$primary-color: #0e0e0e;
$contrast-color: white;