html {
  font-size: 16px;
}

.no-scroll {
  overflow: hidden;
}

button {
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }
}

.selector:not(*:root), .jumbotron.open ul::after {
  display: none;
}