@import './constants';

@mixin right-arrow($size, $color) {
  content: "";
  font-size: 0;
  position: relative;
  width: 0;
  height: 0;
  border-top: ($size / 2) solid transparent;
  border-bottom: ($size / 2) solid transparent;
  border-left: ($size * 0.866) solid $color;
}

@mixin arrow-on-hover($size) {
  &::before {
    opacity: 0;
    @include right-arrow($size, $contrast-color);
    top: ($size - ($size * 2 - 0.5));
    left: ($size - ($size * 2));
  }

  &:hover {
    &::before {
      opacity: 1;
      left: -1.3rem;
      transition: all .4s $ease-in-out-quad;
    }
  }
}

@mixin heading($size: 3.75rem, $capitalize: true) {
  font: {
    family: $heading-font;
    size: $size;
    weight: normal;
  }
  line-height: 1;
  text-transform: if($capitalize, uppercase, none);
}

@mixin text($size) {
  font: {
    family: $text-font;
    size: $size;
    weight: normal;
  }
  line-height: 1.59;
}

@mixin label($size: 0.9375rem) {
  font: {
    family: $text-font;
    size: $size;
    weight: bold;
  }
  line-height: 2;
  text-transform: uppercase;
}