@import '../../../node_modules/sass-ignis/src/main';
@import './constants';

@mixin arrow-on-hover() {
  &::before {
    opacity: 0;
    content: "";
    font-size: 0;
    position: relative;
    top: -1.5rem;
    left: -2rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: (2rem * 0.866) solid $contrast-color;
  }

  &:hover {
    &::before {
      opacity: 1;
      left: -1.3rem;
      transition: all .4s $ease-in-out-quad;
    }
  }
}

@mixin heading($size) {
  font: {
    family: $label-font;
    size: $size;
    weight: normal;
  }
  line-height: 1;
  text-transform: uppercase;
}

@mixin text($size) {
  font: {
    family: $text-font;
    size: $size;
    weight: normal;
  }
  line-height: 1.59;
}